@import url(https://fonts.googleapis.com/css?family=Kanit:600);

.credits-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits {
  font: normal 600 1vw/1.5 Kanit, sans-serif;
}

.credits {
  animation: slide-up 30s linear forwards;
}

.credit {
  height: 25vh;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
