@import url(https://fonts.googleapis.com/css?family=Kanit:600);

.blur {
  position: relative;
  font: normal 600 5vw/1.5 Kanit, sans-serif;
}

.clone {
  position: absolute;
  opacity: 0.1;
}

.blur.left > .clone {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0,0.9,0.9,0);
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translateX(20em);
}

.blur.right > .clone {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0,0.9,0.9,0);
  animation-direction: reverse;
  animation-fill-mode: forwards;
  transform: translateX(-8em);
}

@keyframes slide {
  0% {
    transform: translateX(20em);
  }
  100% {
    transform: translateX(-8em);
  }
}
