@import url(https://fonts.googleapis.com/css?family=Kanit:600);

.frame-outer {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 50px;
}

.frame {
  position: relative;
  font: normal 600 5vw/1.5 Kanit, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  transform: rotate(-2deg);
  display: grid;
  place-items: center;
}

.frame:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid black;
  transform: rotate(-3deg);
}

.frame {
  animation: rotate-left 5000ms linear both;
}

.frame:after {
  animation: rotate-left-2 5000ms linear both;
}

@keyframes rotate-left {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

@keyframes rotate-left-2 {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

.frame-inner {
  animation: rotate-right 5000ms linear both;
}

@keyframes rotate-right {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}
