.overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shard-wrapper {
  position: relative;
  transform-origin: center;
  transform: rotate(-5deg);
  width: 100%;
  height: 100%;

}

.shard {
  position: absolute;
  height: calc(100% + 200px);
  top: -100px;
  box-shadow: 15px 0 5px 5px currentColor;
  animation: 8s linear 1s infinite alternate both running movement;
}

@keyframes movement {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50px);
  }
}
